@import 'vars';

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}

body {
  background: $bg;
  color: $primary;
  font: 400 16px 'Poppins', sans-serif;
  min-height: 100vh;
}
